@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:ital,wght@1,700&family=Concert+One&family=Rowdies:wght@300;700&family=Sansita&display=swap');

:root {
    --cor-primaria: #242C32;
    --cor-secundaria: #343E47;
    --cor-tercearia: #5C5A5F;
    --cor-texto: #A6A6A6;
    

    --fonte-titulo: 'Barlow Condensed', sans-serif;
    --fonte-principal: 'concert one', sans-serif;
    --fonte-secundaria: 'Rowdies', sans-serif;
    --fonte-principal: 'Sansita', sans-serif;
};

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: var(--cor-primaria);
    color: var(--cor-texto);
    font-family: var(--fonte-principal);
    font-size: 16px;
    line-height: 1.5em;
    box-sizing: border-box;
};
.cabecalho{
    background-color: var(--cor-secundaria);
    padding: 0% 0% 0% 0%;
}
.cabecalhoMenu{
    background-color: var(--cor-secundaria);
    display: flex;
    align-content: center;
    justify-content: space-between;
    font-family: var(--fonte-titulo);
    font-size: 30px;
}
